.composeMail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
  background: white;
  border: 1px solid grey;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &-to {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &-from {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &-mail {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
